*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100%;
  }
/*Mobile first*/
@media (max-width: 375px){
    /* divs que no deben aparecer */
.head-optionsWords,.main-image2{
    display: none;
}
 
/* Cabecera*/
.head{
    /* padding: 2% 2%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Baner superior */
.main{
    display: flex;
    flex-flow: column nowrap;
}

.main-image1{
    margin: 0%;
    padding-bottom: 0%;
}

.main-banerbkg{
    background-color: hsl(256, 26%, 20%);
    position: relative;
    margin: 0%;
}

.main-banerbkg-imagenleft{
    position: absolute;
}

.main-banerbkg-imagenright{
    position: absolute;
    top: 70%;
    right: 0%;
}

.main-baner{
    padding: 15% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.main-baner-title{
    color: white;
    text-align: center;
    font-family: 'DM Serif Display';
}
.main-baner-description{
    padding: 10% 5% 15% 5%;
    color: white;
    text-align: center;
    font-family: 'karla';
    
}

.main-baner-botton{
    font-weight: bold;
    font-family: 'karla';
    /* font-size: 0.8em; */
    background-color: hsl(256, 26%, 20%);
    padding: 0.3em 1.5em;
    border: white solid 2px;
    align-content: center;
    color: white;
    text-decoration: none;
    
}
.main-baner-botton:hover{
    background-color:white;
    color: hsl(256, 26%, 20%);
}

.main-baner-imageleft{
    z-index: 1;
    position: absolute
    align-items: flex-start;
}

/* Diseño features */
.features{
    max-width: 100%;  
    padding-top: 20%;
}
.features-title{
    color: hsl(256, 26%, 20%);
    padding-bottom: 10%;
}
.features-cards-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.features-cards{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.features-cards-title{
    padding-top: 10%;
    padding-bottom: 5%;
}
.features-cards-description{
    color: hsl(273, 4%, 51%)
}
/* Diseño How We Work session */
.HowWeWorks{
    position: relative;
    margin: 5% 5%;
    background-color:hsl(256, 26%, 20%);
}
.HowWeWorks-imageright{
    position: absolute;
    right: 0%;
}
.HowWeWorks-tittle{
    padding: 16% 5%; 
}
.HowWeWorks-button{
    padding: 13% 0%;
}
/* Diseño social medias */
.Socialmedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9em 0% 3em 0%;  
    align-items: center;

}
.Socialmedia-logo{
align-items: center;
padding: 1em 1em;
}
.Socialmedia-medias{
    flex-direction: row;
    display: flex;
    justify-content: space-between;

}
.Socialmedia-medias-logo{
    padding: 0px .5em;
    opacity: .8;
}
.Socialmedia-medias-logo:hover{
/*     padding: 0px .5em; */
    opacity: unset;
}
/* Diseño Footer */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}
.footer-bloq{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-bloq-title{
    color: hsl(273, 4%, 51%);
    font-weight: bold;
    font-family: 'karla';
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

.footer-bloq-options{
    text-decoration: none;
    color:hsl(256, 26%, 20%);
    font-weight: bold;
    font-family: 'karla';
    line-height: 1.5em;
}
.footer-bloq-options:hover{
    text-decoration: underline;
}


}

/*End Mobile first*/

