*{
    margin: 0;
    padding: 0;
}
/*Clases globales*/
.botton{
    font-weight: bold;
    font-family: 'karla';
    padding: 0.3em 1.5em;
/*     align-content: center; */
    text-decoration: none;    
}
.main-baner{
    padding: 15% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.main-baner-title{

    text-align: center;
    font-family: 'DM Serif Display';
    font-size: x-large;
}
.main-baner-description{
    padding: 10% 5% 15% 5%;
    text-align: center;
    font-family: 'karla';
    
}
.Socialmedia-medias-logo{
    padding: 0px .5em;
    opacity: .8;
}
.Socialmedia-medias-logo:hover{
/*     padding: 0px .5em; */
    opacity: unset;
}
.footer-bloq-title{
    color: hsl(273, 4%, 51%);
    font-weight: bold;
    font-family: 'karla';
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}
.footer-bloq-options{
    text-decoration: none;
    color:hsl(256, 26%, 20%);
    font-weight: bold;
    font-family: 'karla';
    line-height: 2em;
}
.footer-bloq-options:hover{
    text-decoration: underline;
}
/*Fin clases globales*/

.container{
    max-width: 100%;
  }
/*Mobile first*/
@media (max-width: 375px){
    /* divs que no deben aparecer */
.head-optionsWords,.main-image2{
    display: none;
}
 
/* Cabecera*/
.head{
    /* padding: 2% 2%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Baner superior */
.main{
    display: flex;
    flex-flow: column nowrap;
}
.main-image1{
    margin: 0%;
    padding-bottom: 0%;
}
.main-banerbkg{
    background-color: hsl(256, 26%, 20%);
    position: relative;
    margin: 0%;
}
.main-banerbkg-imagenleft{
    position: absolute;
}
.main-banerbkg-imagenright{
    position: absolute;
    top: 70%;
    right: 0%;
}
.main-baner{
    padding: 15% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.main-baner-title{
    color: white;
    text-align: center;
    font-family: 'DM Serif Display';
}
.main-baner-description{
    padding: 10% 5% 15% 5%;
    color: white;
    text-align: center;
    font-family: 'karla';
    
}
.main-baner-botton{
    background-color: hsl(256, 26%, 20%);
    border: white solid 2px;
    color: white;

}
.main-baner-botton:hover{
    background-color:white;
    color: hsl(256, 26%, 20%);
}
.main-baner-imageleft{
    z-index: 1;
    position: absolute
    align-items: flex-start;
}

/* Diseño features */
.features{
    max-width: 100%;  
    padding-top: 20%;
}
.features-title{
    color: hsl(256, 26%, 20%);
    padding-bottom: 10%;
}
.features-cards-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.features-cards{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.features-cards-title{
    padding-top: 10%;
    padding-bottom: 5%;
}
.features-cards-description{
    color: hsl(273, 4%, 51%)
}

/* Diseño How We Work session */
.HowWeWorks{
    position: relative;
    margin: 5% 5%;
    background-color:hsl(256, 26%, 20%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;    
    padding-bottom: 20%;
}
.HowWeWorks-imageright{
    position: absolute;
    right: 0%;
}

.HowWeWorks-tittle-tittle{
    color: white;
    padding-bottom: 20%;
    padding-top: 10%;
}
.HowWeWorks-button{
    color: white;
    border: 1px solid white;

}
.botton{
    color: white;
/*     padding: 0% 5%; */
}
.botton:hover{
    background-color: white;
    color:hsl(256, 26%, 20%) ;
}

/* Diseño social medias */
.Socialmedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9em 0% 3em 0%;  
    align-items: center;

}
.Socialmedia-logo{
align-items: center;
padding: 1em 1em;
}
.Socialmedia-medias{
    flex-direction: row;
    display: flex;
    justify-content: space-between;

}

/* Diseño Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}
.footer-bloq{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media (min-width: 376px){
.head-optionslogo ,.main-image1,.main-banerbkg-imagenleft,.main-banerbkg-imagenright,.HowWeWorks-imageright{
    display: none;
} 
/* cabecera */
.head{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2% 5%;
}
.head-optionsWords{
    display: flex;;
    flex-direction: row;
    justify-content: space-around;
}
 .head-options-botton{
    display: flex;;
    flex-direction: column;
    color:hsl(256, 26%, 20%) ;
} 
.head-options-botton-View{
    display: flex;;
    flex-direction: column;
} 
.head-options-botton{
    background-color:white;
    color: hsl(256, 26%, 20%);
}
.head-options-botton:hover{
    background-color:hsl(256, 26%, 20%);
    color: white
}
.head-options-botton-View{
    background-color:hsl(256, 26%, 20%);
    color: white
}
.head-options-botton-View:hover{
    background-color:white;
    color: hsl(256, 26%, 20%);
    border: hsl(256, 26%, 20%) solid 2px;
}
/* Baner superior */
.main{

    background-color:hsl(256, 26%, 20%) ;
}
.main-banerbkg{

    position: relative;
    align-content:flex-start ;
}
.main-baner{
display: flex;
padding-right: 50%;
}
.main-baner-title{
    color: white;
}
.main-baner-description{
    color: white;
}
.main-baner-botton{
    background-color: hsl(256, 26%, 20%);
    color:white;
    border: white solid 2px;
}
.main-baner-botton:hover{
    background-color: white;
    color:hsl(256, 26%, 20%) ;
    position: relative;
    
}
.main-image2{
    position: absolute;
    top: 30%;
    left: 60%;

}
/* Diseño features */
.features{
    padding-top: 5%;
    max-width: 100%;
}
.features-cards-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.features-title{
    color: hsl(256, 26%, 20%);
    padding: 5% 0% 5% 10%;
    font-size: x-large; 
    text-align: start;
}
.features-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start   ;
    padding: 5% 5%;
}
.features-cards-logo{
padding-left: 10%;
}
.features-cards-title{
/*     padding: unset; */
    color: hsl(256, 26%, 20%);
    font-size: unset;
    text-align: unset;
}
.features-cards-description{
    color: hsl(256, 26%, 20%);
    text-align: start;  
}
/* Diseño How We Work session */
.HowWeWorks{
    margin: 10%;
    background-color: hsl(256, 26%, 20%); 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.HowWeWorks-tittle-tittle{
    color: white;
    font-size: x-large;
    padding: 15% 2%;
}
.HowWeWorks-button-box{
    padding: 17% 1%;
}
.HowWeWorks-button{
    color: white;
    border: 1px solid white;
    text-align: center;
}
.HowWeWorks-button:hover{
    color:hsl(256, 26%, 20%);
    background-color: white;
}


/* Social medias */
.Socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 4em;
}
.Socialmedia-medias{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* footer */
.footer{
    left: 0%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}


